<?xml version="1.0"?>
<!--
  ~ Copyright © Ghost Unicorns snc. All rights reserved.
  ~ See LICENSE for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="webapi_logs" translate="label" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Webapi Logs</label>
            <tab>advanced</tab>
            <resource>GhostUnicorns_WebapiLogs::reports</resource>
            <group id="log" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Webapi Logs</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Webapi Logs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="secret_mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Secret Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If enabled, the module will not save any sensitive data, showing only secure logs.]]></comment>
                    <depends>
                        <field id="webapi_logs/log/enabled">1</field>
                    </depends>
                </field>
                <field id="secret_words" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret Words</label>
                    <comment><![CDATA[A list of secret words, separated by a simple new line]]></comment>
                    <depends>
                        <field id="webapi_logs/log/secret_mode">1</field>
                    </depends>
                </field>
                <field id="clean_older_than_hours" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Clean older than hours</label>
                    <depends>
                        <field id="webapi_logs/log/enabled">1</field>
                    </depends>
                    <validate>validate-number validate-greater-than-zero</validate>
                </field>

                <field id="disable_ajax" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Disable AJAX</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Only log API calls, nothing from the browser]]></comment>
                </field>
                
            </group>
            <group id="whitelist" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Whitelists</label>

                <field id="useragents" translate="label" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User Agents</label>
                    <comment><![CDATA[A list of useragents, separated by a simple new line. Blank to disable]]></comment>
                </field>

                <field id="ips" translate="label" type="textarea" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>IP Addresses</label>
                    <comment><![CDATA[A list of IP Addresses, separated by a simple new line. Blank to disable]]></comment>
                </field>

                <field id="urls" translate="label" type="textarea" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>URLs</label>
                    <comment><![CDATA[A list of URL partials, separated by a simple new line. Blank to disable]]></comment>
                </field>

                <field id="method" translate="label" type="multiselect" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>HTTP Method</label>
                    <source_model>GhostUnicorns\WebapiLogs\Model\Config\Source\HTTPMethods</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
